.font-minecrafter-reg {
    font-family: 'MinecrafterReg';
}

.font-minecrafter-alt {
    font-family: 'MinecrafterAlt';
}

.font-minecraftia-reg {
    font-family: 'MinecraftiaReg';
}

.font-lilex {
    font-family: 'Lilex';
}
