:root {
    /* Base Colors */
    --background: #2D2A2E;
    --background-dark: #221F22;
    --background-darker: #19181A;
    --background-light: #403E41;
    --background-lighter: #5B595C;

    --foreground: #FCFCFA;
    
    --border: #2D2A2E;
    --border-dark: #1A191B;
    --border-light: #5B595C;

    /* Accents */
    --red: #ff6188;
    --orange: #f59762;
    --yellow: #ffd866;
    --green: #a9dc76;
    --blue: #78dce8;
    --purple: #ab9df2;
    --grey: #727072;
    --black: #19181a;

    --red-bright: #ff85a3;
    --orange-bright: #ffb380;
    --yellow-bright: #ffe68a;
    --green-bright: #c4f091;
    --blue-bright: #9af0fa;
    --purple-bright: #c5b9ff;
    --grey-bright: #8f8d8f;
    --black-bright: #333133;

    --red-dark: #d93d64;
    --orange-dark: #d67a45;
    --yellow-dark: #d9b546;
    --green-dark: #8cbd5b;
    --blue-dark: #5bbcc8;
    --purple-dark: #8d7fd6;
    --grey-dark: #575557;
    --black-dark: #000000;
}