body {
    background-color: var(--background);
    color: var(--foreground);
    font-family: 'Lilex';
    /* For working Resize Borders */
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    /* -------------------------- */
}

h1 {
    font-size: 2rem;
    font-weight: bold;
}

h2 {
    font-size: 1.5rem;
    font-weight: bold;
}

h3 {
    font-size: 1.25rem;
    font-weight: bold;
}

h4 {
    font-size: 1rem;
    font-weight: bold;
}

h5 {
    font-size: 0.875rem;
    font-weight: bold;
}

h6 {
    font-size: 0.75rem;
    font-weight: bold;
}

p {
    font-size: 0.875rem;
}